{%extends "header.twig"%}
{%block footer%}
 <div class="footer">
	<div class="container">
		<div class="row">
			<div class="span6 logo-vt">
				<a class="brand" href="index.html">
					<span>All About </span><span class="cl-blue">Music </span>
				</a>
				<span class="coppy_right">
					<p>Powered by Wei Zhang </p>
					<p>@2013 All Rights Reserved.</p>
				</span>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Contact</li>
					<li><a href="#">Support</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Component</li>
					<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
					<li><a href="http://jquery.com">Jquery</a></li>
					<li><a href="http://redbeanphp.com">Redbean</a></li>
					<li><a href="http://twig.sensiolabs.org">Twig</a></li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">Technology</li>
					<li><a href="http://www.w3.org">Html</a></li>
					<li><a href="http://php.net/">PHP</a></li>
					<li><a href="http://www.w3.org/Style/CSS/">CSS</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{%endblock footer%}